.box {
    width                : 700px;
    height               : 200px;
    display              : grid;
    grid-template-columns: 700px 150px;
    background-color     : green;
    align-items          : center;
    overflow             : hidden;
    margin: auto;

    &:hover {
        .element2 {
            display  : flex;
           transform: translateX(-100%);
           transition: 2s ease-in-out;

            i {
                transform: rotate(900deg);
                transition: 4s;
            }
        }
    }

    &:not(:hover) {
        .element2 {
            transform: translateX(0);
            transition: 2s ease-in-out;

            i {
                transform: rotate(0);
                transition: 4s;
            }
        }
    }

    .element2 {
        background-color: red;
        height          : 100%;
        display         : flex;
        align-items     : center;
        justify-content : flex-end;
        padding         : 0 25px;

        i {
            font-size: 50px;
            color    : greenyellow;
        }
    }

}
