.box {
    width                : 700px;
    height               : 200px;
    display              : grid;
    grid-template-columns: auto 150px;
    background-color     : green;
    align-items          : center;

    &:hover {
        .element2 {
            display: flex;
            transform: translateX(-100%);
            transition: transform 600ms;
        }
    }

    &:not(:hover) {
        .element2 {
            display: none;
            transform: translateX(0);
        }
    }

    .element2 {
        background-color: red;
        height          : 100%;
        display         : flex;
        align-items     : center;
        justify-content : flex-end;
        padding         : 0 25px;
        


        i {
            font-size: 50px;
            color    : greenyellow;
        }
    }
}